@tailwind components;

@layer components
{
    @keyframes blinker 
    {
        0%{opacity: 1;}
        50%{opacity: 0;}
        100%{opacity: 1;}    
    }
    
    @keyframes jump 
    {
        0%
        {
            transform: translateY(0);
        }
        50%
        {
            transform: translateY(-16px);
        }
        100%
        {
            transform: translateY(5px);
        }   
    }
    @keyframes bling 
    {
        50%
        {
            border-color: theme("colors.twitterblue");
            border-radius: 2px;
            border-style: dashed;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px ;
        }   
        100%
        {
            border-color: hsl(51, 100%, 50%); 
            border-radius: 4px;
            border-style: dashed;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px ;
        }
    } 
}
