@tailwind components;

@layer components
{
    @keyframes blinker 
    {
        0%{opacity: 1;}
        50%{opacity: 0;}
        100%{opacity: 1;}    
    }
    
    @keyframes jump 
    {
        0%
        {
            transform: translateY(0);
        }
        50%
        {
            transform: translateY(-16px);
        }
        100%
        {
            transform: translateY(5px);
        }   
    }
    @keyframes bling 
    {
        50%
        {
            border-color: theme("colors.twitterblue");
            border-radius: 2px;
            border-style: dashed;
            border-radius: 30px;
        }   
        100%
        {
            border-color: hsl(51, 100%, 50%); 
            border-radius: 4px;
            border-style: dashed;
            border-radius: 30px ;
        }
    }
    @keyframes left-reveal 
    {
        0%
        {
            transform: translateX(-100%) rotateY(90deg);
        }
        100%
        {
            transform: translateX(0) rotateY(0);
        }
        
    }
    @keyframes right-reveal 
    {
        0%
        {
            transform: translateX(100%) rotateY(90deg);
        }
        100%
        {
            transform: translateX(0) rotateY(0);
        }
        
    } 
    @keyframes spin-reveal 
    {
        0%
        {
            transform: translateX(0) rotateY(180deg);
        }
        100%
        {
            transform: translateX(0) rotateY(0);
        }
        
    }
    @keyframes top-reveal 
    {
        0%
        {
            transform: translateY(-100%) rotateX(90deg);
        }
        100%
        {
            transform: translateY(0) rotateX(0);
        }
        
    }
    @keyframes bottom-reveal 
    {
        0%
        {
            transform: translateY(100%) rotateX(90deg);
        }
        100%
        {
            transform: translateY(0) rotateX(0);
        }
        
    }
}
